div{
    margin-top: 50px;
}

.ichoose{
    color:blueviolet;
    font-size: 150%;
}

.computerchoice{
    color: blue;
    font-size: 150%;
}

.computerscore{
    font-size: 150%;
}

.myscore{
    font-size: 150%;
}